.intro {
  // background: var(--color-theme-highlight-block);

    background: url("/images/colorado-2228788_1280.jpg");
    background-size: cover;
    // background-position: center;

  &__summary {
    --flow-space: #{get-size(500)};
    font-size: get-size(500);

    a {
      color: currentColor;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__heading {
    max-width: 40ex;
    color: var(--color-theme-feature-text);

    &--compact {
      max-width: 20ex;
    }
  }
}
